._2jP4SIKw7ziJIXctZmLTwd {
  background: #30C7EF;
  color: #ffffff;
  text-align: center;
  height: 80px;
}

.H4QrtKelk95IQTVqaJ8hS {
  padding: 1rem 0 0.4rem;
  font-size: 2rem;
}

._1ew6piCDDUpFEiGcjYjT4r {
  font-size: 0.8rem;
}
.KUwj68b7uoLchnn_sRWkc {
  margin: 2rem;
  position: relative;
}

.KUwj68b7uoLchnn_sRWkc::after {
  content: '';
  position: absolute;
  top: 0;
  right: 1.2rem;
  bottom: 0;
  width: 0;
  height: 0;
  margin: auto;
  border-top: 0.5rem solid #023466;
  border-right: 0.4rem solid transparent;
  border-left: 0.4rem solid transparent;
}

._2gvfI6n7lO7w860feD5Qmq {
  display: inline-block;
  width: 100%;
  margin: 0.3rem 0;
  padding: 0.8rem 1rem;
  border: 0;
  border-radius: 0.3rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #EAEAEA;
  font-size: 16px;
  font-weight: bold;
  color: #023466;
}

._1VKopkLTvHJsCPVrpOBGGt {
  display: none;
}
._3-CJYCrbaV3HOhxC_0653M {
  margin: 2rem;
}

._10eRJWySL4GNSgJtMbtIF7 {
  border-bottom: 2px solid #30C7EF;
  margin-bottom: 0.5rem;
  padding: 0 0 0.5rem 1rem;
  color: #023466;
}

._2zfCDxfJg2bzBKp0bIr_GD {
  display: none;
}

._2zfCDxfJg2bzBKp0bIr_GD:checked + ._1gwU43tctErIEYOV8U0gLH {
  background: #30C7EF;
}

._1gwU43tctErIEYOV8U0gLH {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0.3rem 0;
  border-radius: 0.3rem;
  background: #EAEAEA;
  font-weight: bold;
  color: #023466;
  cursor: pointer;
  transition: .1s;
  z-index: -10;
}

._1q3bk1dYo6vvJFXS_kJye4 {
  background: #EC516F;
}

._3PYuoXiC86H5tXm8hZflXj {
  display: inline-block;
  width: 15%;
  font-size: 1.2rem;
  text-align: center;
}

._2Mpr6Qmmdf7a_KeVAntaJl {
  display: inline-block;
  margin-right: 0.8rem;
  padding: 0.1rem;
  border: 1px solid #023466;
  font-size: 0.9rem;
}

._2-FTUGgtWeleMMSTC0tkta {
  display: inline-block;
  width: 85%;
  padding: 0.8rem 0.9rem 0.8rem 1rem;
  border-left: 1px dashed #ffffff;
}

._3cUo-ugciqBy7TIf7HLI3p {
  position: absolute;
  width: 1.5rem;
  right: 0.8rem;
  display: block;
  line-height: 2.9rem;
  top: 0;
  z-index: -1;
}

._1JR73yDJ4VB053kSsEuMmq {
  display: none;
}
._1O14h1ZLgmj4XiQeygo7v6 {
  margin: 2rem;
  color: #023466;
}

._3W5xWw56yMUO_d8HDnsQ6J {
  list-style-type: disc;
  padding-left: 20px;
  font-size: 0.8rem;
  line-height: 1rem;
}

._2gTyP38j-FxvoSxyn8a6LO {
  color: #30C7EF;
}

._3g7m8hqV3r2CloW7rnYtwj {
text-align: center;
margin: 2rem 0;
}
._1sFyGSdP7gyTm2Cfu5WT9i {
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding: 1rem 2rem;
  background: #30C7EF;
  width: 100%;
  max-height: 115px;
  border-top: 2px solid #ffffff;
}

._3t8dbRbiTu39boUL7PIL-j {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

._2DzNgYtqu3NYuuHf-8-tGp {
  font-size: 0.8rem;
  font-weight: bold;
  color: #023466;
  text-align: center;
  margin-bottom: 0.3rem;
}

._2DzNgYtqu3NYuuHf-8-tGp ._2vlOYGHVXCKTEcMwFqDRjX {
  color: #ffffff;
  margin-left: 0.2rem;
}

._1xyQiuf_LxXxk4TjFpWdfA {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 100px;
}

._2gdIlIoTv0jlRL4OEe1QQH {
  background: #ffffff;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  text-align: center;
  font-weight: bold;
  color: #023466;
}

._3dci9hW-teXLmpC4ApiWIG {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.2rem;
  text-indent: 0.1rem;
}

._2vlOYGHVXCKTEcMwFqDRjX {
  font-size: 1.5rem;
}
._3l6tUHbCLjVyxilYRqe0PJ {
  max-width: 500px;
  margin: 0 auto;
}
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}

/* remember to define focus styles! */
:focus {
   outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
   text-decoration: none;
}
del {
   text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
   border-collapse: collapse;
   border-spacing: 0;
}
html {
  width: 100%;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/*# sourceMappingURL=index.css.map*/