.curriculums {
  margin: 2rem;
}

.curriculumListGrade {
  border-bottom: 2px solid #30C7EF;
  margin-bottom: 0.5rem;
  padding: 0 0 0.5rem 1rem;
  color: #023466;
}

.curriculumCheck {
  display: none;
}

.curriculumCheck:checked + .curriculum {
  background: #30C7EF;
}

.curriculum {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0.3rem 0;
  border-radius: 0.3rem;
  background: #EAEAEA;
  font-weight: bold;
  color: #023466;
  cursor: pointer;
  transition: .1s;
  z-index: -10;
}

.attention {
  background: #EC516F;
}

.curriculumCredit {
  display: inline-block;
  width: 15%;
  font-size: 1.2rem;
  text-align: center;
}

.curriculumTerm {
  display: inline-block;
  margin-right: 0.8rem;
  padding: 0.1rem;
  border: 1px solid #023466;
  font-size: 0.9rem;
}

.curriculumTitle {
  display: inline-block;
  width: 85%;
  padding: 0.8rem 0.9rem 0.8rem 1rem;
  border-left: 1px dashed #ffffff;
}

.curriculumCheckmark {
  position: absolute;
  width: 1.5rem;
  right: 0.8rem;
  display: block;
  line-height: 2.9rem;
  top: 0;
  z-index: -1;
}

.header {
  display: none;
}
